.secondHeaderContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

.me{
    background-color: linear-gradient(var(--color-primary),transparent);
    width: 22rem;
    height: 30rem;
    /* position: absolute; */
    left: 50%;
    /* transform: translateX(-50%); */
    border-radius: 17rem 17rem 0 0;
    overflow: hidden;
    margin-top: 30px;
    min-width: 0;
}
.me img {
    width: 100%; 
    min-width: 0;
}

img{
    min-width: 0;
}
